* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --mont: "Montserrat", sans-serif;
  --rob: "Roboto", sans-serif;
  --tt: uppercase;
}
.container-fluid-header {
  height: 540px;
  background-image: url(./img/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 70px;
}
.header-wrp {
  min-width: 320px;
  padding-top: 30px;
  height: 540px;
  text-align: center;
  margin: auto;
}
.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 120px;
}
.menu-link {
  text-decoration: none;
  font-size: 14px;
  font-family: var(--mont);
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  padding: 10px 20px;
  border: 3px solid transparent;
  border-radius: 25px;
}
.menu-link:hover {
  border-color: #fff;
}
.logo-img {
  margin-bottom: 40px;
}
.text-wrp {
  max-width: 520px;
  margin: auto;
}
.title {
  font-size: 30px;
  font-family: var(--mont);
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 20px;
  padding: 0 14px;
}
.discription {
  font-size: 18px;
  font-family: var(--rob);
  color: rgb(255, 255, 255);
  line-height: 1.2;
  margin-bottom: 34px;
  padding: 0 40px;
}
.btn {
  font-size: 14px;
  font-family: var(--mont);
  width: 280px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  background: #ff4e50;
  padding: 10px 20px;
  border: 3px solid transparent;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
}
.btn:hover {
  background: #fff;
  border-color: #ff4e50;
  color: #ff4e50;
}
.btn:active {
  color: rgb(0, 150, 0);
}
.title-2 {
  font-size: 22px;
  font-family: var(--mont);
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}
.cards {
  display: flex;
  flex-direction:column;
  justify-content: center;
  margin: auto;
  margin-bottom: 44px;
}
.card-link {
  cursor: pointer;
  text-decoration: none;
}
.card {
  width: 320px;
  display: flex;
  padding: 25px 50px;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
.card-img {
  border-radius: 50%;
  overflow: hidden;
}
.position-radius {
  width: 120px;
  height: 120px;
  margin: auto;
  display: flex;
  position: relative;
}
.icon {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 40px;
  width: 40px;
  border: #fff solid 4px;
  border-radius: 50%;
  display: flex;
  z-index: 10;
}
.icon-tv {
  background-color: #ff4e50;
  background-image: url(./img/icon-tv.png);
  background-repeat: no-repeat;
  background-position: center;
}
.icon-chemical {
  background: #1cd7ad;
  background-image: url(./img/icon-chemical.png);
  background-repeat: no-repeat;
  background-position: center;
}
.icon-tea {
  background: #ffa507;
  background-image: url(./img/icon-tea.png);
  background-repeat: no-repeat;
  background-position: center;
}
.icon-fly {
  background: #4e73db;
  background-image: url(./img/icon-fly.png);
  background-repeat: no-repeat;
  background-position: center;
}
.card-title {
  font-size: 14px;
  font-family: var(--mont);
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 1.2;
  padding: 20px;
}
.card-discription {
  font-size: 14px;
  font-family: var(--rob);
  color: rgb(102, 102, 102);
  line-height: 1.2;
}
.btn-p {
  text-align: center;
  margin-bottom: 70px;
}
